<html lang="en">

<head>
    <% include ../includes/head %>   
</head>

<body class="container">

    <header>
        <% include ../includes/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>About Page</h2>
            <p>Right now, you are viewing an ejs template engine rendered web page</p>
        </div>
    </main>

    <footer>
        <% include ../includes/footer %>
    </footer>
	
</body>

</html>