<html lang="en">

<head>
        <% include ../includes/head %>
</head>

<body class="container">

    <header>
        <% include ../includes/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h3>Home Page</h3>
            <p>Web application using EJS template engine</p>
        </div>
    </main>

    <footer>
        <% include ../includes/footer %>
    </footer>

</body>

</html>